@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @*<a href="https://docs.microsoft.com/aspnet/" target="_blank">Logout</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">Logout</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
            <button class="btn btn-primary"
                    <span class="oi oi-person"></span>
            </button>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
