<div class="nav-item">
    <div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">
            <img class="logo" src="images/logo.png" />
        </a>
        <NavLink class="nav-link" href="basket">
            <span class="oi oi-basket"></span>Basket
        </NavLink>
        <AuthorizeView>
            <Authorized>
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-person" aria-hidden="true"></span> @context.User.Identity.Name
                </NavLink>
            </Authorized>
            <NotAuthorized>
                <NavLink class="nav-link" href="Identity/Account/Login">
                    <span class="oi oi-person" aria-hidden="true"></span> Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<div class="nav-item">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    <NavLink class="nav-link" href="bikes">
        <span class="oi oi-layers" aria-hidden="true"></span> Bikes
    </NavLink>
    <AuthorizeView>
        <Authorized>
            @if (context.User.IsInRole(UserService.ADMINISTRATION_ROLE))
            {
                <NavLink class="nav-link" href="connectionTest">
                    <span class="oi oi-bolt" aria-hidden="true"></span> Connection Test
                </NavLink>
                <NavLink class="nav-link" href="managebikes">
                    <span class="oi oi-wrench" aria-hidden="true"></span> Manage Bikes
                </NavLink>
                <NavLink class="nav-link" href="manageorders">
                    <span class="oi oi-browser" aria-hidden="true"></span> Manage Orders
                </NavLink>
                <NavLink class="nav-link" href="managetransactions">
                    <span class="oi oi-dollar" aria-hidden="true"></span> Manage Transactions
                </NavLink>
            }
            else if (context.User.IsInRole(UserService.USER_ROLE))
            {
                <NavLink class="nav-link" href="orders">
                    <span class="oi oi-box" aria-hidden="true"></span> Orders
                </NavLink>
            }
        </Authorized>
    </AuthorizeView>
</div>
