@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject NavigationManager navigationManager
@inject IJSRuntime runtime
@inject IBikesData bikesData

<h1>Add bike </h1>
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="title">Make</label>
        <InputText id="make" @bind-Value="model.Make" />
    </div>
    <div class="form-group">
        <label for="title">Model</label>
        <InputText id="model" @bind-Value="model.Model" />
    </div>
    <div class="form-group">
        <label for="title">Price</label>
        <InputNumber id="name" @bind-Value="model.Price" />
    </div>
    <div class="form-group">
        <label for="title">Year</label>
        <InputNumber id="year" @bind-Value="model.Year" />
    </div>
    <div class="form-group">
        <label for="title">Stock amount</label>
        <InputNumber id="amount" @bind-Value="model.Amount" />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>

@code{
    private BikeCreateModel model = new();

    private async Task HandleValidSubmit()
    {
        try
        {
            var bike = await bikesData.AddBike(model);
            navigationManager.NavigateTo("/bikes");
        }
        catch (Exception ex)
        {
            await runtime.Inform("Something went wrong");
        }
    }
}