@page "/basket"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using Microsoft.AspNetCore.Identity;

@inject IJSRuntime jSRuntime
@inject IBasketService basketService
@inject IOrderData orderData
@inject IProductData productData

@if (basketItems == null)
{
    <p><em>Loading...</em></p>
}
else if (!basketItems.Any())
{
    <p><em>There is nothing in the basket</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basketItem in basketItems)
            {
                <tr>
                    <td>@basketItem.Product.Name</td>
                    <td>@basketItem.Quantity</td>
                    <td>@basketItem.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        Total amount: @totalAmount
    </div>

    <shu_bike_shop.Pages.Views.AdminView>
        <button class="btn btn-primary" @onclick="PlaceOrder" disabled="@placingOrderDisabled">Place order</button>
    </shu_bike_shop.Pages.Views.AdminView>

    <shu_bike_shop.Pages.Views.AnonymousView>
        <div>
            <small>
                You need to be logged in to place your order
            </small>
        </div>
    </shu_bike_shop.Pages.Views.AnonymousView>
}

@code {
    private bool placingOrderDisabled;
    private decimal totalAmount;
    private List<BasketItemModel> basketItems;
    private string user;

    protected override async Task OnInitializedAsync()
    {
        basketItems = await basketService.GetBasketItems();
        RefreshTotalAmount();

        //var user = userService.CurrentUser;
        //placingOrderDisabled = user == null || !user.CanBuy;
    }

    private async Task PlaceOrder()
    {
        //var user = userService.CurrentUser;

        //var orderModel = await orderData.AddOrder(new NewOrderModel()
        //{
        //    UserEmail = user.Email,
        //    TotalAmount = totalAmount,
        //    Items = basketItems.Select(x => new OrderProductModel
        //    {
        //        ProductId = x.Product.Id,
        //        UnitPrice = x.Product.Price,
        //        Amount = x.Quantity
        //    }).ToList()
        //});

        //foreach (var item in basketItems)
        //{
        //    await productData.DecrementProductAmount(item.Product.Id, item.Quantity);
        //}

        //await basketService.ClearBasket();
        //basketItems = new List<BasketItemModel>();

        //await jSRuntime.Confirm($"Your order is placed, your Order number is {orderModel.Id}");
    }

    private void RefreshTotalAmount()
    {
        totalAmount = 0;
        foreach (var item in basketItems)
        {
            totalAmount += item.Price;
        }
    }
}
