@page "/bikes"

@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject IBikesData _db

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (bikes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bike in bikes)
            {
                <tr>
                    <td>@bike.Make</td>
                    <td>@bike.Model</td>
                    <td>@bike.Price</td>
                    <td>
                        <button class="btn btn-primary" @onclick="()=>AddProductToBasket(bike.Id)">
                            <span class="oi oi-cart"></span>
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<BikeModel> bikes;

    protected override async Task OnInitializedAsync()
    {
        bikes = await _db.GetBikes();
    }

    private void AddProductToBasket(int id)
    {

    }
}
