@page "/connectionTest"

@using Ingenico.Direct.Sdk
@inject IPaymentService paymentService
<h1>Merchant test</h1>

<div>
    Merchant: @paymentService.MerchantId
</div>
<div>
    Connection test result:
</div>
<div>
    @connectionTestResult
</div>

@if (connectionTestResult == "OK")
{
    <button class="btn btn-primary" @onclick="CreateTestPayment">Place order</button>

    @if (testPaymentPerformed)
    {
        <div>
            Test payment result:
        </div>
        <div>
            @testPaymentResult
        </div>
    }
}

@code{
    private string connectionTestResult;
    private string testPaymentResult;

    private bool testPaymentPerformed;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var testConnection = await paymentService.TestConnection();
            connectionTestResult = testConnection.Result;
        }
        catch (Exception ex)
        {
            connectionTestResult = ex.ToString();
        }
    }

    protected async Task CreateTestPayment()
    {
        testPaymentPerformed = true;
        testPaymentResult = "";

        try
        {
            var paymentResponse = await paymentService.CreateTestPayment();
            testPaymentResult = paymentResponse.ToString();
        }
        catch (ValidationException e)
        {
            System.Console.Out.WriteLine("Input validation error:");
            foreach (var error in e.Errors)
            {
                string str = "";
                if (error.PropertyName == null)
                {
                    str = string.Format("- {0}: {1}", error.Code, error.Message);
                }
                else
                {
                    str = string.Format("- {0}: {1}: {2}", error.PropertyName, error.Code, error.Message);
                }
                testPaymentResult += $"\n{str}";
            }
        }
        catch (Exception ex)
        {
            testPaymentResult = ex.ToString();
        }
    }
}

