@using DataAccessLibrary
@if (parent.PayForm == 1)
{
    <div>
        <br />

        @if (parent.OrderModel is { PaymentStatus: PaymentStatus.NotPaid })
        {
            <button type="button" class="btn btn-primary" @onclick="GoToHostedCheckoutPage">
                Pay with Ingenico
            </button>
        }
    </div>
}