@page "/login"
@using System.Security.Claims
<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Manage account</a>
        <a href="Identity/Account/Identity/Account/LogOut">Logout</a>

        <button type="submit" class="nav-link btn btn-link">Log out</button>

        <form method="get" action="Identity/Account/Manage">
            <button type="submit" class="nav-link btn btn-link">Manage</button>
        </form>

        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
        <div>
            Roles:
            <ol>
                @foreach (var item in GetRoles(context.User))
                {
                    <li>@item</li>
                }
            </ol>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
@code{

    private IEnumerable<string> GetRoles(ClaimsPrincipal User)
    {
        var roles = ((ClaimsIdentity)User.Identity).Claims
                .Where(c => c.Type == ClaimTypes.Role)
                .Select(c => c.Value);

        return roles;
    }
}