@page "/login"
<AuthorizeView>
    <Authorized>
        <form method="get" action="Identity/Account/Manage">
            <button type="submit" class="nav-link btn btn-link">Manage</button>
        </form>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
        <div>
            Roles:
            <ol>
                @foreach (var item in GetRoles(context.User))
                {
                    <li>@item</li>
                }
            </ol>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
