@page "/orders"
<AuthorizeView Roles="Users">
    <Authorized>
        @if (orders == null)
        {
            <Loading></Loading>
        }
        else if (!orders.Any())
        {
            <p><em>No orders</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Status</th>
                        <th>Paid</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in orders)
                    {
                        <tr>
                            <td>@order.Id</td>
                            <td>@order.OrderStatus</td>
                            <td>@order.PaymentStatus</td>
                            <td>@order.TotalAmount</td>
                            <td>
                                <button class="btn btn-dark" @onclick="()=> GoToOrder(order)">
                                    <span class="oi oi-project" aria-hidden="true"></span> Order details
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
</AuthorizeView>