@page "/orders/{Id:int}"

@using DataAccessLibrary

<h1>
    Order details
</h1>

@if (orderModel != null && orderModel.PaymentStatus == PaymentStatus.NotPaid)
{
    <PayForOrder parent="this" user="user">
    </PayForOrder>
}

@if (!loaded)
{
    <Loading></Loading>
}
else if (orderModel == null)
{
    <p><em>"There is nothing here..."</em></p>
}

@if (orderModel != null)
{
    <br />
    <table class="table">
        <tbody>
            <tr>
                <td>Order Number</td>
                <td>@orderModel.Id</td>
            </tr>
            <tr>
                <td>OrderStatus</td>
                <td>@orderModel.OrderStatus</td>
            </tr>
            <tr>
                <td>Payment status</td>
                <td>@orderModel.PaymentStatus</td>
            </tr>
            <tr>
                <td>Total amount</td>
                <td>@orderModel.TotalAmount</td>
            </tr>
        </tbody>
    </table>
}
